/* Här gör jag så att alla element har en padding och margin på 0 och en box sizing på borderbox */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* sätter nästan alla headings till samma font*/
h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}
/* Sätter alla li, a och h1 till samma font */
li, a, h1{
    font-family: 'Poppins', sans-serif;
}
/* Ändrar färgen på bakgrunden till ljusgrön */
body{
    background: rgb(233, 255, 231);
}
/* Här gör jag så att alla recept har ett mellanrum och håller avstånd till väggarna */
.first-article,.second-article,.third-article{
    margin: 0% 0 5% 10%;
}
/* Här ställer jag in position på rubriken */
h1.rubrik{
    margin: auto;
    padding: 30px 0;
}
/* Här placerar jag mina snabblänkar på sidan */
.recept{
    width: 90px;
    height: 130px;
    align-self: flex-end;
    position: fixed;
    top: 200px;
    right: 15px;
}
/* Här gör jag så att när man hovrar så ändrars färgen. */
.recept a:hover,.liknande-recept a:hover{
    background: rgb(192, 255, 187);
}
/* Här fixaxr jag storlek och position på snabblänkarna. */
.recept nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: nowrap;

}
/* Här ändrar jag hur snabblänkarna ska se ut */
.recept nav a{
    text-decoration: 0;
    font-size: 12px;
    color: black;
    border: 1px solid black;
    padding: 5px;
    border-radius: 3px;
}
/* Här gör jag själva färgen på receptet och fixar positioneringen i den */
article{
    margin: 0% 10%;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px 10px rgb(163, 163, 163);
    background: white;
}
/* >Här placcerar jag själva rubriken */
.header1{
    display: flex;
    height: 150px;
    position: relative;
    left: -25%;

}
/* Här designar jag rubriken */
.header1 h1{
    font-size: 35px;
    text-shadow: -2px 4px 3px rgb(156, 156, 156);
    border: 1px solid black;
    padding: 2%;
    font-weight: 100;
}
/* Här placerar jag den övre delen av alla recept */
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    margin: 7% 0%;
}
/* Här väljer jag storlek på bilderna */
img{
    width:40%;
}
/* Här designar jag den lilla faktarutan om själva rätten */
.heading-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 150px;
    justify-content: space-between;
    text-align: center;
}
/* Här sätter jag lite mellanrum upp och ned på ingridienserna och hur man gör rätten */
.innehall ul li, .forklaring{
    margin: 20px 0;
}
/* Här sätter jag en storlek på underrubriken där det står innehåll och gör så här */
.innehall .underrubrik, .howto .underrubrik{
    font-size: 25px;
}
/* Sätter en brädd på förklaringen */
.howto{
    width: 25%;
}
/* Positionerar ol taggarna */
.howto ol{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
}
/* Här positionerar jag innehållet och hur man gör */
.tillbehor-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20% 0 0 0;
}
/* Här ändrar jag så att inte det såg konstigt ut på andra receptets innehåll och hur man gör */
.second-article .tillbehor-container{
    min-height: 250px
}
/* Även härändrade jag så det inte ser koknstigt ut på tredje receptet */
.third-article .tillbehor-container{
    min-height: 600px;
}
/* även här ändrar jag i andra receptet så det ska passa bra */
 .second-article .innehall ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
}
/* Här gör jag själva randomfacts rutan och designar den */
.funfact{
    width: 45%;
    margin: 10% 0 0 0;
    padding: 25px;
    border: 1px solid black;
    box-shadow: 5px 5px 20px 5px rgb(180, 180, 180);
    font-family: 'Montserrat Alternates', sans-serif;
    background: rgba(154, 209, 148, 0.425);
}
/* Här gör jag liknande recept rutan och designar den */
.liknande-recept-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 0 10% 0;
    border: 1px solid black;
    width: 30%;
    box-shadow: 5px 5px 20px 5px rgb(180, 180, 180);
    background: rgba(146, 207, 146, 0.411);
}
/* Sätter en storlek och avstånd uppåt på headingen i liknande recept rutan. */
.liknande-recept-container h6{
    margin: 7% 0 0 0;
    font-size: 15px;

}
/* Här placerar jag själva naven och positionerar den. */
.liknande-recept{
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
/* Här designar jag a taggarna i naven. */
.liknande-recept a{
   color: black;
   text-decoration: none;
   margin: 5% 0 0 0;
   border: 1px solid black;
   padding: 5px;
   border-radius: 10px;
    background: rgba(245, 245, 220, 0.651);
}

/* Under hela nedre del har jag testat media queries. Det var inget krav men kul att testa. känner att jag inte behöver förklara hur jag tänkte här då det inte var obligatoriskt att ha med. */
@media screen and (max-width: 600px){
    	.first-article, .second-article, .third-article{
            width: 95%;
            margin: 0 0 5% 2.5%;

        }
        .recept nav{
            display: none;
            background: rgb(167, 221, 183);
            box-shadow: inset 0 0 50px 20px rgb(87, 196, 119);
            position: absolute;
            width: 200px;
            height: 250px;
            border-radius: 10px;
            align-items: center;
            justify-content: space-around;
            right: 0%;
            bottom: -60%;


        }
        .recept nav a{
            background: white;
            width: 50%;
        }
        .hamburger{
            width: 30px;
            height: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            top: 190%;
            left: 50%;
        }
        .hamburger-bar{
            background: black;
            width: 100%;
            height: 3px;
            border-radius: 10px;
            transition: all ease-in .3s;
        }
        .hamburger-bar::before, .hamburger-bar::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            background: black;
            border-radius: 10px;
            transition: all ease-in .3s;
        }
        .hamburger-bar::before{
        top: 9%;
    }
    .hamburger-bar::after{
        bottom: 9%;
    }
    .hamburger-active .hamburger-bar::before{
        transform: rotate(45deg) translateY(7.5px) translateX(25%);

    }
    .hamburger-active .hamburger-bar{
        background: transparent;
    }
    .hamburger-active .hamburger-bar::after{
        transform: rotate(-45deg) translateY(-7.5px) translateX(25%);
    }
    .header1{
        left: 0;
    }
    .heading-container{
        margin: 25px 0;
        width: 50%;
    }
    .header-container .matratt{
        font-size: 15px;
    }
    .header-container .forklaring{
        font-size: 10px;
    }
    img{
        width: 35%;
    }
    .tillbehor-container ul{
        width: 95%;
    }
    .tillbehor-container ul li{
        font-size: 13px;
    }
    .tillbehor-container{
        flex-direction: column;
        width: 90%;
        align-items: center;
        margin: 10% 0;
    }
    .innehall{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 0 0 30%;

    }
    h5.tillbehor.underrubrik{
        margin: 5% 0;
    }
    .howto{
        width: 70%;
        margin: 10% 0 0 5%;
    }
   .howto ol li{
       margin: 10px 0;
   }
    .liknande-recept-container, .funfact{
        width: 90%;
    }
}